html, body {
    height:100%;
    width: 100%;
    font-family: 'Quicksand', 'sans serif';
    color: #d5d5d5;
    background-color: #222222;

.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}
 
.fa-github, .fa-envelope {
    color: #d5d5d5;
}
.fa-github:hover, .fa-envelope:hover {
    color: #878787;
}
